# Python virtual environment folders
RNNS/Include/
RNNS/Lib/
RNNS/Scripts/
RNNS/pyvenv.cfg

# Environment variables (sensitive)
.env

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# VSCode settings (optional)
.vscode/

# Jupyter Notebook checkpoints (if any)
.ipynb_checkpoints/


